body{
    background-color:aliceblue;
}
div.container-md{
    background-color: #f1c232;
    border-radius: 5px;
    
}
div.container-md h1{
    padding: 10px;
}

.p10{
    padding: 1px;
}
.grid-layouts.container{
    border: 1px solid rgb(204, 23, 17) !important;
    background-color: #ffe599;
    
}

.img-fluid{
    max-width: 100%;
    height: auto;
}
div.container{
    border: 1px solid none;
    
}
.bg{
    padding: 30px;
    background-color: #563d7c26;
    border: 1px solid rgba(86, 61, 124, .2);
    
}
.color-1{
    padding: 10px;
    
}
/* .col-sm img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    background-size: contain;
} */
.col-sm button{
    width: 100%;
    
}
.alert{
    display: none;
}
.cnt1 ul li a{
    text-decoration: none;
    
}
.cnt1 img{
    height: auto;
}
#myBtn{
    
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #f1c232;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    
}

